In [ ]:
# Set difference
The set difference operation between two sets (set A, set B) gives us the elements
of set A which are not in set B.
A = {1,2,3}
B = {3,4}
A-B = {1,2}
B-A = {4}
The set difference A-B and B-A are different from each other.

In [1]:
# 1) By using set1.difference(set2)
a = {1,2,3}
b = {3,7,2,6}
a.difference(b)

{1}

In [2]:
# 2) Using - operator
print(a-b)

{1}

In [3]:
# Set difference of more than 2 sets
a = {1,2,3,5,8}
b = {2,4,6}
c = {0,1,2,7}
d = {2,3,4}
a.difference(b,c,d)

{5, 8}

In [ ]:
#Symmetric difference in sets
"""
The symmetric difference between two sets (set A , Set B) is the set of values 
from both sets that are not shared between the 2 sets. That is values that are
in either set A or set B but not in both.

A = {1,2,3}
B = {3,4,5,6}
Symmetric difference = {1,2,4,5,6}

"""

In [4]:
# 1) Using symmetric_difference() function
a = {1,2,3}
b = {3,4,5,6}
a.symmetric_difference(b)

{1, 2, 4, 5, 6}

In [5]:
# 2) Using ^ operator
p = {1,2,3,}
q = {2,3,4,5}
p^q

{1, 4, 5}